<div class='mod-one view-one tmpl-two'>

  <div class='hd'>
    <h1>Module one - tmpl two {{ name }}</h1>
  </div>

  <div class='bd'>
    Body
  </div>

  <div class='ft'>
    Footer
  </div>

</div>